* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b8e7b16c;
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
    max-width: 100vw;
}

.image {
    margin: 15px;
    max-width: 400px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown {
    margin-top: 15px;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.countdown-item {
    margin: auto;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(49, 102, 228);
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    color: blanchedalmond;
}

.expired {
    margin: auto;
    margin: 0 auto;
    background-color: rgb(44, 221, 97);
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    color: rgb(224, 26, 26);
    font-size: x-large;
}